<div class="test">
  <li
    *ngFor="let column of columns"
    [ngClass]="{
      'column-class': !column.isSeparatingColumn,
      'non-column-class': column.isSeparatingColumn
    }"
  >
    <div cdkDropList [cdkDropListData]="column.groups">
      <div
        cdkDropListGroup
        class="example-container"
        *ngFor="let group of column.groups"
        cdkDrag
        [cdkDragData]="group"
      >
        <h2>{{ group.title }}</h2>
        <div
          cdkDropList
          class="example-list"
          id="{{ group.id }}"
          [cdkDropListData]="group.items"
          [cdkDropListConnectedTo]="getConnectedList()"
        >
          <div
            class="example-box"
            *ngFor="let item of group.items"
            cdkDrag
            [cdkDragData]="item"
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </li>
</div>
