@import '~@angular/material/prebuilt-themes/purple-green.css';

.dashboard {
  display: flex;

  &_element {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

// .divider {
//   width: 5%;
// }
