.team-block {
  width: 100%;
  display: block;
  background-color: hsl(0, 0%, 92%);
}

.add-member-button {
  float: right;
}

.team-members {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
}
